<nav class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="carousel slide" id="carouVideo">
          <ul class="carousel-indicators list-inline mx-auto">
            <li class="list-inline-item active">
              <a class="card text-light" data-target="#carouVideo" data-slide-to="0">
                <img src="{{mydatas[0].poster}}" class="card-img">
                <span class="card-img-overlay">
                  <h5 class="card-title">{{mydatas[0].name}}</h5>
                  <p class="card-text">{{mydatas[0].year}}</p>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="card text-light" data-target="#carouVideo" data-slide-to="1">
                <img src="{{mydatas[1].poster}}" class="card-img">
                <span class="card-img-overlay">
                  <h5 class="card-title">{{mydatas[1].name}}</h5>
                  <p class="card-text">{{mydatas[1].year}}</p>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="card text-light" data-target="#carouVideo" data-slide-to="2">
                <img src="{{mydatas[2].poster}}" class="card-img">
                <span class="card-img-overlay">
                  <h5 class="card-title">{{mydatas[2].name}}</h5>
                  <p class="card-text">{{mydatas[2].year}}</p>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="card text-light" data-target="#carouVideo" data-slide-to="3">
                <img src="{{mydatas[3].poster}}" class="card-img">
                <span class="card-img-overlay">
                  <h5 class="card-title">{{mydatas[3].name}}</h5>
                  <p class="card-text">{{mydatas[3].year}}</p>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="card text-light" data-target="#carouVideo" data-slide-to="4">
                <img src="{{mydatas[4].poster}}" class="card-img">
                <span class="card-img-overlay">
                  <h5 class="card-title">{{mydatas[4].name}}</h5>
                  <p class="card-text">{{mydatas[4].year}}</p>
                </span>
              </a>
            </li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!-- <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(mydatas[0].trailer)' width="100%" height="625"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe> -->
              <iframe width="100%" height="625" src="https://www.youtube.com/embed/TRdExfE7Ra8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(mydatas[1].trailer)' width="100%" height="625"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>
            </div>
            <div class="carousel-item">
              <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(mydatas[2].trailer)' width="100%" height="625"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>
            </div>
            <div class="carousel-item">
              <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(mydatas[3].trailer)' width="100%" height="625"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>
            </div>
            <div class="carousel-item">
              <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(mydatas[4].trailer)' width="100%" height="625"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
